@model GymProcess.Models.Tbl_Member

@{
    ViewBag.Title = "Delete";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>

<script src="~/Scripts/sweetalert.js"></script>
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tbl_Member</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addess)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Sex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sex)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photo)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scheme.SchemeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheme.SchemeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" onclick="confirmDelete('@Model.MemberId')" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>


<script type="text/javascript">

    function confirmDelete(MemberId) {

        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this record!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {
            event.preventDefault();
            $.ajax({
                url: "@Url.Action("DeleteConfirmed", "Member")",
                type: "POST",
                data: { MemberId: MemberId },
                dataType: "html",
                success: function () {
                    swal({
                        title: "Done!",
                        text: "It was succesfully deleted!",
                        type: "success"
                    }, function () {
                        location.reload();
                    });
                },
                error: function () {
                    swal({
                        title: "Sorry!",
                        text: "Failed to delete the record!",
                        type: "Failed"
                    }, function () {
                        location.reload();
                    });
                }
            })
        }
        );
    }

</script>
